@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

.container{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.affichage {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.patho {
    width: 350px;
    height: 237px;
    border-radius: 10px;
    margin: 10px 20px 20px 20px;
    opacity: 0.9;
    border: 2px solid #ffffff;
    background-color: #1b1b1f;
    color: white;
}

.filtre {
    padding: 0;
    margin: 1%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.filtre select {
    padding: 5px 8px;
    margin-left: 5px;
    margin-right: 5px;
    width: 13%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
}
