.panier{
    min-height: 400px;
    width: 80%;
    margin: 5% auto;
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    background-color: #1b1b1f;
    opacity: 0.9;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.patho{


    
}